* {margin:0; padding:0; box-sizing: border-box;}
html {font-size:50px;}
body {font-size:14px;}
.nav{
  width:100%;
  margin:0 auto;
  /*background-color: #f2f2f2;*/
}
.nav .header{
  height:1rem;
  background:#182c40;
}
.icon-1{
	float:left;
	height:.54rem;
	width:.54rem;
	margin:0.3rem 0.3rem;
	background:url(./img/bg.png) no-repeat -.03rem -.05rem;
	background-size:3rem 3rem;
}
.icon-2{
	float:right;
	height:.54rem;
	width:.54rem;
	margin:0.3rem 0.3rem;
	background:url(./img/bg.png) no-repeat -.7rem -.05rem;
	background-size:3rem 3rem;
}
.mine{
	padding:0.27rem;
	text-align: center;
	font-size:0.36rem;
	color:#ceb67b;
}
.nav-1{
  height:2.4rem;
  background:#182c40;
}
.nav-1 .zichan{
  text-align: center;
  color: #cac1a5;
  font-size: 0.3rem;
}
.nav-1 .mingxi{
	float:right;
	text-decoration: none;
	color:#c2b99e;
	font-size: 0.24rem;
	padding:0.2rem ;
}
.nav-1 .money{
	font-size: 0.6rem;
	text-align: center;
    color: #fef6db;
    margin:.5rem 1.2rem;
}
.nav-2{
	height:2.5rem;
	background:#182c40;
	text-align: center;
	line-height:1.1rem;
	color:#dbc895;
	border:0.001rem solid grey;
}
.nav-2 .nav-2-left{
	width:50%;
	height:2.5rem;
	float:left;
	border-right:0.001rem solid grey;
}
.nav-2 .nav-2-right{
	width:50%;
	height:2.5rem;
	float:right;
}
.nav-3{
	height:2.5rem;
}
.nav-3-top{
	font-size:.32rem;
	color:#c6a144;
	line-height: .86rem;
	text-indent:.5rem;
	border-bottom:0.001rem solid grey;
}
.nav-3-bottom{
	height:1.44rem;
	border-bottom:0.001rem solid grey;
	font-size: .4rem;
}
.nav-3-bottom .percent{
   height:.6rem;
   /*line-height:2.5rem;*/
   border-radius:.5rem;
   margin:0.2rem 1.2rem;
  /* background: green;*/

}
.percent-left{
   float:left;
   height:.7rem;
   width:30%;
   border-radius:.5rem 0 0 .5rem ;
   background:#192e45;
}
.percent-middle{
   float:left;
   height:.7rem;
   width:40%;
  /* border-radius:.5rem;*/
   background:#f1d68b;
}
.percent-right{
   float:right;
   height:.7rem;
   width:30%;
   border-radius:0 0.5rem .5rem 0;
   background:#e5e5e5;
}
.nav-3-bottom .intro{
    height:.52rem;
    font-size: .26rem;
    text-align: center;
    margin:0 1.2rem;
    /*background:blue;*/
}
.intro-left{
   float:left;
   width:25%;
}
.intro-middle{
	float:left;
    width:50%;
}
.intro-right{
  float:right;
  width:25%;
}
.nav-4{
	margin-top: .7rem;
	height:7.74rem;
	border-top:0.001rem solid grey;
	border-bottom:0.001rem solid grey;
}
.nav-4 .account{
	font-size: .32rem;
    color: #c6a144;
    line-height:.89rem;
	height:.89rem;
	border-bottom:0.001rem solid grey;
}
.account{
	padding-left:.5rem;
}
.account .icon-3{
	display:block;
	float: left;
	margin-top:.3rem;
	height:.3rem;
	width: .4rem;
	background:url(./img/bg.png) no-repeat -2.1rem -1.15rem;
	background-size:3rem 3rem;
}

.nav-4{
	height:7.74rem;
	margin-top:.3rem;
}
.nav-4 .card{
	background: url(./img/card2.png) no-repeat;
	background-size: 7rem 3.8rem;
    height: 3.8rem;
    width:7rem;
    margin:.2rem auto;
    text-indent: .5rem;
    line-height: 1.3rem;
}
.card h3{
    color:#dbc895;
    letter-spacing: .04rem;
    font-size: .48rem;

}
.card h5{
	color: #dbc895;
	font-size:.3rem;
}
.card .func{
	font-size:.32rem;

}
.func .chongzhi{
	text-decoration: none;
	float: left;
	margin-left:.57rem;
    padding-right: .5rem;
	line-height: .5rem;
	border-radius:.5rem;
	background:#c3a865;
    color: #193650;
    display:inline-block;
}
.func .tixian{
	text-decoration: none;
	float:right;
	margin-right:.57rem;
    padding-right:.5rem;
	line-height: .5rem;
	border-radius:.5rem;
	background:#224164;
	text-align: center;
    color:#dbc895;
    display:inline-block;
}
.nav-4 .icbc{
	height:1.98rem;
	width:6.3rem;
	margin:0.5rem auto;
}
.icbc img{
	height:1.98rem;
	width:6.3rem;
}
.nav-5{
	height:3.2rem;
	font-size: .32rem
	border-top:.001px solid grey;
	border-bottom:.001px solid grey;
}
.nav-5 .touzi{
	margin-top:.3rem;
	height:.92rem;
	color:#c6a144;
	text-indent: .5rem;
	line-height:.92rem;
	border-top: .001px solid grey;
	border-bottom: .001px solid grey;
  font-size:.32rem;
}
.nav-5 .licai{
	height:1.14rem;
	line-height: 1.14rem;
	/*text-indent: .5rem;*/
	border-bottom:.001px solid grey;
}
.licai .icon-4{
	float:left;
	display:block;
	height:.43rem;
	width:.43rem;
	margin:.35rem;
	background:url(./img/bg.png) no-repeat -.09rem -1rem;
	background-size:3rem 3rem;
}
.licai .rowone{
	display:block;
	float:right;
	color:grey;
}
.nav-5 .jijin{
	height:1.14rem;
	line-height:1.14rem;
}
.jijin .rowtwo{
	display:block;
	float:right;
	color:grey;
}
.jijin .icon-5{
	float:left;
	display:block;
	height:.45rem;
	width:.45rem;
	margin:.35rem;
	background:url(./img/bg.png) no-repeat -.73rem -.97rem;
	background-size:3rem 3rem;
}
.nav-6{
	margin-top:.3rem;
	height:2rem;
	font-size: .32rem
}
.nav-6 .daikuan{
	margin-top:.3rem;
	height:.92rem;
	color:#c6a144;
	text-indent: .5rem;
	line-height:.92rem;
	border-top: .001px solid grey;
	border-bottom: .001px solid grey;
}
.nav-6 .kejie{
	height:1.14rem;
	line-height:1.14rem;
	border-bottom: .001px solid grey;
}
.kejie .rowthree{
	display:block;
	float:right;
	color:grey;
}
.kejie .icon-6{
	float:left;
	display:block;
	height:.45rem;
	width:.45rem;
	margin:.35rem;
	background:url(./img/bg.png) no-repeat -.11rem -1.6rem;
	background-size:3rem 3rem;
}
.nav-7{
	margin-top:.3rem;
	height:4.36rem;
	font-size: .32rem
}
.nav-7 .quanliang{
	margin-top:.3rem;
	height:.92rem;
	color:#c6a144;
	text-indent: .5rem;
	line-height:.92rem;
	border-top:.001px solid grey;
	border-bottom: .001px solid grey;
}
.nav-7 .jianhang{
	display: block;
	height:1.14rem;
	line-height:1.14rem;
	text-decoration:none;
	color:black;
	border-bottom:.001px solid grey;
}
.jianhang .rowfour{
	display:block;
	float:right;
	color:grey;
}
.jianhang .icon-7{
	float:left;
    height:.44rem;
    display:inline-block;
	width:.44rem;
	margin:.35rem;
	background:url(./img/bg.png) no-repeat -.70rem -1.59rem;
	background-size:3rem 3rem;
}
.nav-7 .fangchan{
	display: block;
	height:1.14rem;
	line-height:1.14rem;
	text-decoration: none;
	color:black;
	border-bottom:.001px solid grey;
}
.fangchan .rowfive{
	display:block;
	float:right;
	color:grey;
}
.fangchan .icon-8{
	float:left;
    height:.44rem;
    display:inline-block;
	width:.49rem;
	margin:.35rem;
	background:url(./img/bg.png) no-repeat -.09rem -2.14rem;
	background-size:3rem 3rem;
}
.nav-7 .plan{
	display: block;
	height:1.14rem;
	line-height:1.14rem;
	text-decoration: none;
	color:black;
	border-bottom:.001px solid grey;
}
.plan .rowsix{
	display:block;
	float:right;
	color:grey;
}
.plan .icon-9{
	float:left;
    height:.43rem;
    display:inline-block;
	width:.38rem;
	margin:.35rem;
	background:url(./img/bg.png) no-repeat -.75rem -2.16rem;
	background-size:3rem 3rem;
}
.nav-8{
	/*margin-top:.3rem;*/
	height:1.26rem;
	width:100%;
	margin:0.3rem auto 0;
	background:url(./img/footer.png) no-repeat;
	background-size:100%;
}
.nav-8 ul li{
     list-style-type: none;
     float:left;
     width:25%;
     line-height:.4rem;
     text-align:center;
}
.nav-8 ul li a{
	text-decoration: none;
	font-size: .22rem;
	color:#d6d6d6;
}
.nav-8 .fist-1{
	display:inline-block;
	height:.35rem;
	width: .51rem;
	margin-top: .2rem;
	background:url(./img/bg.png) no-repeat -2rem -1.58rem;
	background-size: 3rem 3rem;
}
.nav-8 .fist-2{
	display:inline-block;
	height:.39rem;
	width: .45rem;
	margin-top: .2rem;
	margin-left: .2rem;
	background:url(./img/bg.png) no-repeat -1.37rem -1.16rem;
	background-size: 3rem 3rem;
}
.nav-8 .fist-3{
	display:inline-block;
	height:.38rem;
	width:.61rem;
	margin-top: .2rem;
	margin-left: .2rem;
	/*font-size: .32rem;*/
	background:url(./img/bg.png) no-repeat -2.13rem -2.18rem;
	background-size: 3rem 3rem;
}
.nav-8 .fist-4{
	display:inline-block;
	height:.47rem;
	width:.52rem;
	margin-top: .1rem;
	background:url(./img/bg.png) no-repeat -1.29rem -2.13rem;
	background-size: 3rem 3rem;
}
